<div class="content-section breaches-chart">
	<div class="content-section-header">
		Current Performance &nbsp;–&nbsp; Patient Event Milestones<span class="icon icon-dashboard-widget-info" title="Shows a brief summary of the chart."></span>
	</div>

	<div class="content-section-body">
		<div class="chart chart-1" ng-class="{'loading':!breachesChart.dataReceived}">
		</div>
	</div>

	<div class="content-section-body">
		<div class="chart chart-2" ng-class="{'loading':!breachesChart.dataReceived}">
		</div>
	</div>

	<div class="content-section-body">
		<div class="chart chart-3" ng-class="{'loading':!breachesChart.dataReceived}">
		</div>
	</div>
</div>