@{
    ViewBag.Title = "Manage Planned Events";
}

<h2>Manage Planned Events</h2>

@section scripts
{
    @Scripts.Render("~/Scripts/editPlannedEvent.js")
<style>
    div.filtering {
        border: 1px solid #999;
        margin-bottom: 5px;
        padding: 10px;
        background-color: #EEE;
        width: 1200px;
    }
</style>
}


<div class="filtering">
    <form>
        Parent Event: <input type="text" name="parentEvent" id="parentEvent" />
        Planned Event: <input type="text" name="plannedEvent" id="plannedEvent" />
        Event Used For Target Date: <input type="text" name="eventForTarget" id="eventForTarget" />
        <button type="submit" id="LoadRecordsButton">Load records</button>
    </form>
</div>    

<div id="PlannedEventTable" style="width: 1200px; margin: auto;"></div>

@Html.Hidden("PlannedEventListUrl", Url.Action("PlannedEventList"))

@Html.Hidden("UpdatePlannedEventUrl", Url.Action("UpdatePlannedEvent"))