
@{
    ViewBag.Title = "AccessDenied";
}

<h2>Sorry, you don't have sufficient previleges to execute this action.</h2>
<br/>
<h2>Click @Html.ActionLink("here", "Login","Account") if you want to login with a different account.</h2>

